<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="body">
    <a th:href="@{/dashboard/article/create}" class="btn btn-outline-success">Create</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Article name</th>
            <th scope="col">Photo</th>
            <th scope="col">Category</th>
            <th scope="col">View</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <th th:text="${article.id}" scope="row">1</th>
            <td th:text="${article.title}"></td>
            <td>
                <img width="100" height="100" th:src="'/uploads/'+${article.photoUrl}">
            </td>
            <td th:text="${article.category.name}"></td>
            <td th:text="${article.viewCount}"></td>
            <td>
                <a th:href="'/dashboard/article/update/'+${article.id}" class="btn btn-outline-warning">Update</a>
                <a th:href="'/dashboard/article/delete/'+${article.id}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>


        </tbody>
    </table>
</div>
</body>
</html>