<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/dashboard/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="body">
    <form method="post">
        <div class="form-group d-flex">
            <input type="text" name="name" th:value="${category.name}" class="form-control col-4" placeholder="Category name" />
            <input type="submit" value="Update" class="btn btn-warning" />
        </div>
    </form>
</div>
</body>
</html>